{% extends "base.html" %}

<h1>About Kalpatharu Jewellers – Tanuku</h1>

{% block content %}

<section class="hero">
    <h1>About KALPATHARU JEWELLERS</h1>

    <p>
Kalpatharu Jewellers – Tanuku is a trusted jewellery store located in Tanuku, Andhra Pradesh. We offer BIS hallmarked Gold Jewellery, Silver Jewellery, Bridal Jewellery, and elegant designs for every occasion. Our commitment to quality, trust, and customer satisfaction has made us a preferred jewellery destination for families in and around Tanuku.
</p>
</section>

{% endblock %}