{% extends "base.html" %}

{% block title %}Contact Us | KALPATHARU JEWELLERS{% endblock %}

{% block content %}

<section class="hero">
    <h1>Contact Kalpatharu Jewellers – Tanuku</h1>

    <p>We would love to hear from you.</p>

    <p><strong>📞 Phone:</strong> 08819 224640</p>

<p><strong>📱 WhatsApp:</strong> +91 94903 47551</p>

<p><strong>📍 Address:</strong> 33, Rashtrapathi Road, Venkatarayapuram, Sajjapuram, Tanuku, Andhra Pradesh - 534211</p>

    <a href="#" class="btn">Contact Us</a>

</section>

{% endblock %}