{% extends "base.html" %}

{% block title %}Edit Product{% endblock %}

{% block content %}

<h1 style="text-align:center;">Edit Product</h1>

<form method="POST" enctype="multipart/form-data">
    <label>Product Name</label><br>
    <input type="text" name="name" value="{{ product[1] }}">

    <label>Category</label><br>
<select name="category">
    <option value="Gold" {% if product[2] == "Gold" %}selected{% endif %}>Gold</option>
    <option value="Silver" {% if product[2] == "Silver" %}selected{% endif %}>Silver</option>
</select>

    <label>Weight</label><br>
    <input type="text" name="weight" value="{{ product[3] }}">

    <label>Price</label><br>
    <input type="text" name="price" value="{{ product[4] }}">

    <label>New Product Image</label><br>
    <input type="file" name="image" accept="image/*"><br><br>

    <button type="submit">Update Product</button>
</form>
{% endblock %}